html {
    padding-top: 20px;
    padding-left: 50px;
}

h1 {
    font-family: sans-serif;
    background-color: #FC4C02;
    color: #FFF;
    font-size: 36px;
    font-weight: 120;
    display: inline-block;
}